$light-bg: #f0f2fa;
$dark-bg: #1e202a;
$light-card: #ffffff;
$dark-card: #252b43;
$text-light: #63687e;
$text-dark: #ffffff;

$color-fa: #5353f8;
$color-ins: #ea8338;
$color-yout: #f63422;

$facebook-color: #1877f2;
$twitter-color: #1da1f2;
$instagram-color: #e1306c;
$youtube-color: #ff0000;